@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.magic {
    @apply inline-block relative;
  }
  .magicStar {
    @apply animate-[scale_700ms_ease_forwards] block h-[var(--size)] left-[var(--star-left)] absolute top-[var(--star-top)] w-[var(--size)];
    --size: clamp(20px, 1.5vw, 30px);
  }
  .magicStar > svg {
    @apply animate-[rotate_1000ms_linear_infinite] block opacity-70;
  }
  .magicStar > svg > path {
    @apply fill-[#a912d3];
  }
  .magicText {
    @apply font-[bolder] animate-[background-pan_3s_linear_infinite] bg-[200%] text-[50px] whitespace-nowrap;
    /* font-family: monospace; */
    font-family: unset;
    
    --purple: rgb(123, 31, 162);
    --violet: rgb(103, 58, 183);
    --pink: rgb(143, 183, 244);
    background: linear-gradient(
      to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple)
    );
    -webkit-background-clip: text;
    /* height: 100%; */
    -webkit-text-fill-color: transparent;
  }
  .magicText2 {
    @apply animate-[background-pan_3s_linear_infinite] bg-[200%] whitespace-nowrap;
    --purple: rgb(195, 12, 223);
    --violet: rgb(82, 5, 95);
    --pink: rgb(230, 175, 55);
    background: linear-gradient(
      to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
/*   
  
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
} */
